* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
   
  }

  .logo {
    color:black;
    font-size: 30px;
  }

  .menu-bar {
    background-color: plum;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: absolute;
  }
  

  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
    position: relative;
  }
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);;
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: plum;
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  .dropdown-menu-1 {
    display: none;
    background-color: plum ;
  }
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: plum;
  }

  .dropdown-menu-2 {
    display: none;
    background-color: plum ;
  }

  .dropdown-menu ul li:hover .dropdown-menu-2 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: plum;
  }
  

  .hero {
    background-color: lightcyan;
}

.hero-container {
    display:grid;
    grid-template-columns: lfr lfr;
    height: 140vh;
    padding: 4rem calc((100vw - 1300px) / 2);
    line-height: 1.5rem;
}

button{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: white ;
    background: blueviolet;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button :hover {
  background: white;
  color: beige;
}


.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem ;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;

}

.column-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
}

.hero-image {

  width: 40%;
  height: 60%;
}

@media screen and (max-width:768px) {
  .hero-container{
    grid-template-columns: lfr;
  }
}